<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Admin Portal</a>

  <div class="collapse navbar-collapse" id="navbarText"></div>
</nav>

<div class="row justify-content-center">
  <div class="card col-md-4 col-sm-4 mt-5 mr-auto ml-auto border-0">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-md-5 col-sm-5 mr-auto ml-auto">
          <label for="staticEmail" class="col-sm-6 col-form-label"
            >Select Bank</label
          >
        </div>
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <select class="form-control" disabled>
            <option selected>HDFC</option>
          </select>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-5 mr-auto ml-auto">
          <label for="staticEmail" class="col-sm-6 col-form-label"
            >Admin Id</label
          >
        </div>
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <input
            type="number"
            class="form-control"
            id="inputPassword"
            [(ngModel)]="adminId"
            placeholder="Enter Admin ID"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-5 mr-auto ml-auto">
          <button type="submit" class="btn btn-primary mb-2" (click)="login()">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
