<app-nav-bar> </app-nav-bar>

<div class="row justify-content-center">
  <div class="card col-md-4 col-sm-4 mt-5 mr-auto ml-auto border-0">
    <div class="card-body">
      <div class="row justify-content-center mt-3">
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <label for="staticEmail" class="col-sm-6 col-form-label">Name</label>
        </div>
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="newEmployee.name"
            placeholder="Enter Employee Name"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <label for="staticEmail" class="col-sm-6 col-form-label"
            >Branch Code</label
          >
        </div>
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <input
            type="text"
            class="form-control"
            id="branchCode"
            [(ngModel)]="newEmployee.branchCode"
            placeholder="Enter Employee Branch Code"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-5 mr-auto ml-auto">
          <button
            type="submit"
            class="btn btn-primary mb-2"
            (click)="addEmployee()"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
