<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/employee/index">Employee Portal</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row justify-content-center">
  <div class="card col-md-4 col-sm-4 mt-5 mr-auto ml-auto border-0">
    <div class="card-body">
      <div class="row justify-content-center">
        <div
          class="col-md-6 col-sm-6 mr-auto ml-auto"
          style="margin-bottom: 12px"
        >
          <label for="staticEmail" class="col-sm-6 col-form-label"
            >Account No</label
          >
        </div>
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <input
            type="number"
            class="form-control"
            id="accNo"
            [value]="bankDetails.accNo"
            disabled
            placeholder="Enter Account ID"
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <label for="staticEmail" class="col-sm-6 col-form-label"
            >Customer Id</label
          >
        </div>
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <input
            type="number"
            class="form-control"
            id="id"
            [value]="bankDetails.customerId"
            placeholder="Enter Customer ID"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <label for="staticEmail" class="col-sm-6 col-form-label"
            >Branch</label
          >
        </div>
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="bankDetails.branch"
            placeholder="Enter Customer Name"
          />
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <label for="staticEmail" class="col-sm-6 col-form-label">Type</label>
        </div>
        <div class="col-md-6 col-sm-6 mr-auto ml-auto">
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="bankDetails.type"
            placeholder="Enter type"
          />
        </div>
      </div>

      <!-- <div class="row justify-content-center mt-3">
          <div class="col-md-5 col-sm-5 mr-auto ml-auto">
            <button
              type="submit"
              class="btn btn-primary mb-2"
              (click)="updateCustomer()"
            >
              Update
            </button>
          </div>
        </div> -->
    </div>
  </div>
</div>
